<!doctype html>
<html lang="en">
    <head>    
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename= 'css/main.css') }}">
        <title>Cost Effective Analysis Tool</title>
        <script src="{{ url_for('static', filename= 'js/main.js') }}"></script>
    </head>

<body>

  <div class="navbar" id="Top">
    <a href="https://sites.google.com/view/pinformatics/data-science/cost-study-resources?authuser=0" target="_blank">Documents</a>
    <a href="https://sites.google.com/view/pinformatics/data-science/public-data-resources?authuser=0" target="_blank">Other Data Resources</a>
    
    <div class="dropdown">
      <button class="dropbtn">Inpatient Costs
        <i class="fa fa-caret-down"></i>
      </button>
    <div class="dropdown-content">
      <a href="mental-health">Mental Health</a>
      <a href="heart-conditions">Heart Conditions</a>
    </div>
    </div>
    
    <div class="dropdown">
      <button class="dropbtn">Cost Study 
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="demographics">Demographics</a>
        <a href="medcost">Total Medical Cost</a>
        <a href="inpatcost">Inpatient Care Cost</a>
        <a href="edcost">ED Cost</a>
        <a href="outpatcost">Outpatient Care Cost</a>
      </div>
    </div>  
    <a href="home">Home</a>      
   </div>
    {% block content %}{% endblock content %}
</body>
</html>